tqdm==4.66.2
dicom2nifti==2.3.0
scikit-image==0.18.1
medpy==0.4.0
scipy==1.11.3
numpy==1.26.4
sklearn==0.0
SimpleITK==2.3.1
pandas==2.2.2
pathos==0.2.8
matplotlib==3.8.4
git+https://github.com/AMK-AQ/batchgenerators@master
torch==1.11.0+cu113 torchvision==0.12.0+cu113 -f https://download.pytorch.org/whl/torch_stable.html
